.reality {
  margin-bottom: 90px;
}

.table {
  width: 600px;
  
}

.conf {
  display: inline-block;
  position: relative;
  bottom: 0px;
  width: 50px;
}

.graph {
  width: 600;
  height: 300;
}

.bar {
  color: black;
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
  /*height: 100px;*/
  display: inline-block;
  position: relative;
  background-color: green;
  /*bottom: -200px;*/
}

.line {
        width: 650px;
        height: 300px;
        border-bottom: 1px solid black;
        -webkit-transform:
            translateY(20px)
            translateX(5px)
            rotate(-29deg);
        position: absolute;
        top: 198px;
        left: -90px;

    }


