.table {
  width: 600px;
  color: green;
}

.conf {
  display: inline-block;
  position: relative;
  bottom: 0px;
  width: 50px;
}

.graph {
  width: 600;
  height: 300;
}

.bar {
  width: 40px;
  margin-right: 5px;
  margin-left: 5px;
  height: 101px;
  display: inline-block;
  position: relative;
  background-color: green;
  bottom: 0px;
}
