.table {
  width: 550px;
  color: green;
}

.conf {
  display: inline-block;
  position: relative;
  bottom: 0px;
  width: 50px;
}

.graph {
  width: 550;
  height: 300;
}

.bar {
  width: 40px
  margin: 5px;
  height: 100px
  display: inline-block;
  background-color: green;
}
